body {
	background-image: url('images/website background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
  	background-size: cover;
  	
	margin: 1em auto;
	font-size: 10px;
	padding: 1em;
	text-align: center;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1 {
	color: #e93b45;
	font-size: 3em;
	margin-top: 100px;
	margin-bottom: 60px;
}

a:link {
  color: #383838;
  text-decoration: none;
}

a:visited {
  color: #383838;
  text-decoration: none;
}

a:hover {
  color: #e93b45;
  text-decoration: none;
}

a:active {
  color: #383838;
  text-decoration: none;
}

.topnav {
  padding: 14px 16px;
  overflow: hidden;
	margin-bottom: 40px;
}

.topnav a {
  float: right;
  color: #383838;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #f1d6ca;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: #383838;
}

p {
	font-family:"Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color: #383838;
	max-width: 30em;
	width: 100%;
	text-align: left;
	margin: 1em auto 1em auto;
	font-size: 1.8em;
	line-height: 1.3;
	}

.pagecontent {
   border: 1px solid white;
   margin-left: 300px;
   margin-right: 300px;
   margin-bottom: 100px;
}

img.logo {
	width: 100%;
	height: auto;
	max-width: 40em;
	max-height: 40em;
	margin: 2em auto;
}

img.title {
	width: 350px;
	height: auto;
	max-width: 350px;
}

img.titleleft {
	width: auto;
	height: 600px;
	max-height: 600px;
	position: absolute;
	left: 10px;
}

img.titleright {
	width: auto;
	height: 600px;
	max-height: 600px;
	position: absolute;
  	right: 10px;
}

img.centerimage {
	width: 700px;
	height: auto;
	max-width: 700px;
	position: center;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
}

img.ass1 {
	width: 100%;
	height: auto;
	max-width: 100em;
	max-height: 100em;
	margin: 2em auto;
	
	}
	
img.ass2 {
	width: 100%;
	height: auto;
	max-width: 70em;
	max-height: 70em;
	margin: 2em auto;
	}
	
img.ass3 {
	width: 100%;
	height: auto;
	max-width: 60em;
	max-height: 60em;
	margin: 2em auto;
	}
	
.footer {
  background-color: #383838;
  text-align: center;
  padding: 30px;
  position: absolute;
  left: 0px;
  right: 0px;
}

h2 {
	color: #f1d6ca;
	font-size: 2em;
}

ul {
	text-align: center;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color: #f1d6ca;
	font-size: 15px;
}

li {
	display: inline;
	margin: 30px;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color: #f1d6ca;
	font-size: 15px;
}

a.footertext: {
	color: #f1d6ca; 
	text-decoration: none;
}

a.footertext:link {
	color: #f1d6ca;
}

a.footertext:visited {
	color: #f1d6ca;
}

a.footertext:hover {
	color: #e93b45;
}
