body {
	background-image: url('images/portfolio background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
  	background-size: cover;
  	
	margin: 1em auto;
	font-size: 10px;
	padding: 1em;
	text-align: center;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1 {
	color: #AC1717;
	font-size: 3em;
}

a:link {
  color: #FFF;
  text-decoration: none;
}

a:visited {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  color: #FFA200;
  text-decoration: none;
}

a:active {
  color: #FFF;
  text-decoration: none;
}

.topnav {
  background-color: ;
  overflow: hidden;
}

.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

p {
	font-family:"Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color: #FFF;
	max-width: 30em;
	width: 100%;
	text-align: left;
	margin: 1em auto 1em auto;
	font-size: 1.8em;
	line-height: 1.3;
	}

img.logo {
	width: 100%;
	height: auto;
	max-width: 40em;
	max-height: 40em;
	margin: 2em auto;
}

img.title {
	width: 500px;
	height: auto;
	max-width: 500px;
}

img.ass1 {
	width: 100%;
	height: auto;
	max-width: 100em;
	max-height: 100em;
	margin: 2em auto;
	}
	
img.ass2 {
	width: 100%;
	height: auto;
	max-width: 70em;
	max-height: 70em;
	margin: 2em auto;
	}
	
img.ass3 {
	width: 100%;
	height: auto;
	max-width: 60em;
	max-height: 60em;
	margin: 2em auto;
	}